@import "tailwindcss";

:root {
  --background: #011623;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-clash-display);
  --font-mono: var(--font-geist-mono);
  --font-clash: var(--font-clash-display);
  --font-visitor1: var(--font-visitor1);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-clash-display), Arial, Helvetica, sans-serif;
}

.font-clash {
  font-family: var(--font-clash-display), Arial, Helvetica, sans-serif;
}

.font-visitor1 {
  font-family: var(--font-visitor1), monospace;
}

.bg-cyan-custom {
  background-color: #0ad9dc;
}

.bg-cyan-custom:hover {
  background-color: #08b8bb;
}
